# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Local database
backend/data/
Turium_AI_Interview_Assignment.pdf

# Environment files
.env
.env.local

# Node
node_modules/
dist/

# Editors and OS
.DS_Store
.idea/
.vscode/

